body{
    background-color: #EAFDFC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.main-container{
    padding: 20px;
    justify-content: center;
    color: white;
    width: 50vw;
    height: 55vh;
    border: 5px solid #0A2647;
    border-radius: 10px;
    position: relative;
    top: 25%;
    background-color: white;
    box-shadow: 20px 30px 20px rgb(77, 68, 68);
    margin-top: 10%;
}
#btn{
    cursor: pointer;
    background-color: #91D8E4;
    border: 2px white solid;
    border-radius: 5px;
    padding: 5px 50px;
}
#result{
    font-size: larger;
    text-align: center;
}
#fom{
display: inline-block;
text-align: center;

}
input{
    margin: 10px;
    text-align: center;
    width: 90px;
}
.therm{
    background-color: #0A2647;
    display: inline-block;
    padding:40px 50px;
    /* border: 5px solid white; */
    border-radius: 30px;
    text-align: center;
    margin-left: 50px;
    box-shadow: 5px 2px 10px #144272;
}
#icon{
    font-size: 300px;
    display: inline-block;
    position: relative;
    margin-left: 160px;
    bottom: 50px;
    text-shadow: 10px 5px 10px rgb(0, 0, 0);
    
}
@media screen and (max-width:425px) {
    #icon{
        font-size: 100px;
        left:27%;
        bottom: 57%;
    }
    .therm{
        padding: 10px;
        margin-left:10px;
        width: 70vw;
        height: 80vh;
        
    }
    .main-container{
        padding: 20px;
        margin-top: 7%;
        width: 80vw;
        height: 83vh;
       
    }
    input{
        padding: 10px 0;
        width: 150px;
        font-size: 20px;
        text-align: center;
    }
 select{
    padding: 10px;
    font-size: 20px;
 }
    button{
        padding: 20px;
        font-size: 20px;
    }
    #fom{
        font-size: 30px;
    }
    #result{
        font-size: 30px;
        
    }
}
